.row{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 10px;
}
.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    max-height: 200px;
    width: 150px;
    margin-right: 15px;
    object-fit: contain;
    transition: transform 450ms;
    border-radius: 10px;
}
.row__poster:hover{
    transform: scale(1.08);
    opacity: 1;
}